img {
  height:300px;
  width:300px;
}

body {
  background-color:#00a8cc;
}

hr {
  border-style:none;
  border-top-style:dotted;
  border-color: #ffa41b;
  border-width: 5px;
  width:10%;

}

h1 {
  color:#005082;
}

h3 {
  color:#005082;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000839;
}

a:hover {
  color: #ffa41b;
}
